<div class="container">
<mat-card *ngIf="usuario">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-subtitle>
      <span class="md-subhead description">HOLA</span>
    </mat-card-subtitle>
    <mat-card-title>
      <span class="md-headline">{{usuario.nombre}}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions align="end" *ngIf="usuario.role === 'ADMIN'">
    <a routerLink="/cms">IR AL CMS</a>
  </mat-card-actions>
</mat-card>
</div>
