<!-- <app-producto (toggleProductoSeleccionado)="verDetalleProducto($event)"></app-producto> -->
<div class="detalle-producto">
  <div class="card">
    <img [src]="productoSeleccionado.imagen" alt="imgProducto">
    <div class="detalle">
      <p> {{productoSeleccionado.categoria.nombre}} </p>
      <h1> {{productoSeleccionado.nombre}} </h1>
      <p> {{productoSeleccionado.descripcion}} </p>
      <h2> {{productoSeleccionado.precio | currency : 'S/. ' }} </h2>
      <button (click)="agregarCarrito(productoSeleccionado)"> Agregar a carrito</button>
      <!-- <button (click)="irAtras()">BACK</button> -->
    </div>
  </div>
</div>

